@media (max-width: 1000px) {
  header {
    padding: 2rem 1rem;
  }

  header nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--almost-white);
    overflow-x: hidden;
    transition: all 0.7s;
    font-size: 1.3rem;
    color: var(--medium-gray);
    display: block;
    padding-block-start: 4rem;
  }

  header nav .left-container {
    padding-inline-start: 1.2rem;
    align-items: start;
    width: 80%;
  }

  header nav .left-container li {
    padding-block: 0.5rem;
  }

  header nav .right-container {
    padding-inline-start: 1.2rem;
    display: block;
  }

  header nav .right-container p {
    margin-inline-start: 4.7rem;
    margin-block-end: 0.5rem;
  }

  header nav .right-container a {
    padding: 0.3rem 4rem;
  }

  .dropdown {
    display: inline;
    flex-direction: column;
  }

  .dropdown-content {
    flex-direction: column;
    position: static !important;
    box-shadow: none !important;
    border-radius: none !important;
    padding: 0 1rem !important;
  }

  #dropdown-features,
  #dropdown-company {
    display: block;
  }

  #open-menu {
    display: block;
    cursor: pointer;
  }

  #close-button {
    display: none;
    position: fixed;
    top: 1.3rem;
    right: 1.2rem;
    z-index: 2;
  }

  main {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-content: center !important;
  }

  main .text-container {
    max-width: 100%;
    padding-block-start: 2rem !important;
    text-align: center;
  }

  main .text-container .text {
    gap: 1rem !important;
    margin-block-end: 2rem !important;
    align-items: center;
  }

  main .text-container .text p {
    padding: 0 0.2rem !important;
  }

  main .text-container .text h1 {
    font-size: 2rem !important;
  }

  main .foot-images {
    align-items: center !important;
    width: 100%;
  }

  main .foot-images picture {
    height: auto;
    width: 4.5rem;
  }

  main .foot-images img {
    height: 100%;
    width: 100%;
  }

  main .hero img {
    content: url("../../images/image-hero-mobile.png");
  }
}
